---

 title: Home
 layout: base.njk

---

<div class="container">
        <h1>This is home page</h1>

        <div>
                {% for item in news %}
                        <a href="/{{ item.country}}">{{ item.country }}</a>
                {% endfor %}
        </div>

</div>