---

title: country news
layout: base.njk
pagination:
  data: news
  size: 1
  alias: news
permalink: /{{news.country}}/index.html

---

<div class="container">
    <h1>This is home page</h1>
    <div>
        {% for article in news.articles %}
            <h4>{{article.name}}</h4>
            <hr>
            <span>{{article.description}}</span>
            <span>{{article.category}}</span>
        {% endfor %}
    </div>

</div>